In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
import matplotlib.pyplot as plt
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Abu Kamal,SY,2022-05-23 16:37:56,34.4506,40.9171,81.82,25,1,17.29
1,1,Rikitea,PF,2022-05-23 16:37:56,-23.1203,-134.9692,75.85,74,24,13.87
2,2,Nikolskoye,RU,2022-05-23 16:37:57,59.7035,30.7861,58.89,61,29,4.85
3,3,Cape Town,ZA,2022-05-23 16:35:02,-33.9258,18.4232,62.28,82,0,9.22
4,4,New Norfolk,AU,2022-05-23 16:37:57,-42.7826,147.0587,44.71,87,5,2.06

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [9]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of humidity
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the humidity.
humidity = city_data_df["Humidity"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of Cloudiness
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the humidity.
Cloudiness = city_data_df["Cloudiness"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=Cloudiness,dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of Wind Speed
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the humidity.
wind = city_data_df["Wind Speed"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=wind,dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 82

In [18]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Abu Kamal,SY,2022-05-23 16:37:56,34.4506,40.9171,81.82,25,1,17.29
1,1,Rikitea,PF,2022-05-23 16:37:56,-23.1203,-134.9692,75.85,74,24,13.87
13,13,Atuona,PF,2022-05-23 16:35:01,-9.8000,-139.0333,78.84,75,16,19.93
21,21,Acarau,BR,2022-05-23 16:34:22,-2.8856,-40.1200,81.34,76,93,4.43
23,23,Olot,ES,2022-05-23 16:37:08,42.1810,2.4901,81.75,38,95,1.99
25,25,Irbil,IQ,2022-05-23 16:38:04,36.1926,44.0106,76.82,33,100,11.50
46,46,Vaini,TO,2022-05-23 16:39:11,-21.2000,-175.2000,75.36,100,20,4.61
49,49,Sao Joao Da Barra,BR,2022-05-23 16:39:12,-21.6403,-41.0511,75.29,64,29,11.43
55,55,Lasa,IT,2022-05-23 16:39:14,46.6166,10.7002,76.08,67,91,6.93
57,57,Boyuibe,BO,2022-05-23 16:39:15,-20.4167,-63.2833,81.91,38,0,7.02

In [19]:
preferred_cities_df.isnull().sum().sum()

0

In [22]:
#Copy Preferred Cities DF along with city, country, max temp and coordinates
hotel_df=preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head()

         City Country  Max Temp      Lat       Lng Hotel Name
0   Abu Kamal      SY     81.82  34.4506   40.9171
1     Rikitea      PF     75.85 -23.1203 -134.9692
13     Atuona      PF     78.84  -9.8000 -139.0333
21     Acarau      BR     81.34  -2.8856  -40.1200
23       Olot      ES     81.75  42.1810    2.4901

In [23]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [27]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
            print("Hotel not found... skipping")

hotel_df.head(10)

Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Abu Kamal,SY,81.82,34.4506,40.9171,البوكمال
1,Rikitea,PF,75.85,-23.1203,-134.9692,People ThankYou
13,Atuona,PF,78.84,-9.8000,-139.0333,Villa Enata
21,Acarau,BR,81.34,-2.8856,-40.1200,castelo pizzaria
23,Olot,ES,81.75,42.1810,2.4901,Hotel Riu Fluvià
25,Irbil,IQ,76.82,36.1926,44.0106,Erbil International Hotel
46,Vaini,TO,75.36,-21.2000,-175.2000,Keleti Beach Resort
49,Sao Joao Da Barra,BR,75.29,-21.6403,-41.0511,Pousada Porto De Canoas
55,Lasa,IT,76.08,46.6166,10.7002,Pension Feldgärtenhof
57,Boyuibe,BO,81.91,-20.4167,-63.2833,Residencial Eluzai

In [29]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [30]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))